:root {
  --identity-primary: #dc0a2d;

  --grayscale-dark: #212121;
  --grayscale-medium: #666666;
  --grayscale-light: #e0e0e0;
  --grayscale-background: #efefef;
  --grayscale-white: #ffffff;

  --headline-font-size: 24px;
  --body1-font-size: 14px;
  --body2-font-size: 12px;
  --body3-font-size: 10px;
  --subtitle1-font-size: 14px;
  --subtitle2-font-size: 12px;
  --subtitle3-font-size: 10px;
  --caption-font-size: 8px;

  --headline-line-height: 32px;
  --common-line-height: 16px;
  --caption-line-height: 12px;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --drop-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
  --drop-shadow-hover: 0px 3px 12px 3px rgba(0, 0, 0, 0.2);
  --drop-shadow-inner: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
}

body {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  margin: 0;
}

h2,
h3,
h4,
.body1-fonts,
.body2-fonts,
.body3-fonts {
  line-height: var(--common-line-height);
}

h1 {
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
}

h2 {
  font-size: var(--subtitle1-font-size);
}

h3 {
  font-size: var(--subtitle2-font-size);
}

h4 {
  font-size: var(--subtitle3-font-size);
}

.body1-fonts {
  font-size: var(--body1-font-size);
}

.body2-fonts {
  font-size: var(--body2-font-size);
}

.body3-fonts {
  font-size: var(--body3-font-size);
}

.caption-fonts {
  font-size: var(--caption-font-size);
  line-height: var(--caption-line-height);
}

input:focus-visible {
  outline: 0;
}

.featured-img a.arrow.hidden {
  display: none;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  margin: 0;
  padding: 0;
  background-color: var(--identity-primary);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.header.home {
  width: 90%;
}

.container {
  width: 100%;
  margin: 0;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-wrapper>h1 {
  color: var(--grayscale-white);
}

.logo-wrapper>img {
  margin-right: 16px;
}

.search-wrapper,
.search-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.search-wrap {
  position: relative;
  background-color: var(--grayscale-white);
  border-radius: 16px;
  box-shadow: var(--drop-shadow-inner);
  height: 32px;
  gap: 8px;
}

.search-icon {
  margin-left: 16px;
}

.search-wrap svg path {
  fill: var(--identity-primary);
}

.search-wrap>input {
  width: 60%;
  border: none;
}

.sort-wrapper {
  position: relative;
}

.sort-wrap {
  background-color: var(--grayscale-white);
  border-radius: 100%;
  min-width: 2rem;
  min-height: 2rem;
  box-shadow: var(--drop-shadow-inner);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-close-icon {
  position: absolute;
  right: 1rem;
  display: block;
  cursor: pointer;
}

.search-close-icon-visible {
  display: block;
}

.pokemon-list {
  background-color: var(--grayscale-white);
  box-shadow: var(--drop-shadow-inner);
  border-radius: 0.75rem;
  min-height: calc(85.5% - 1rem);
  width: calc(100% - 1rem);
  max-height: 100px;
  overflow-y: auto;
}


.bg-items img {
  width: 200px;
  position: fixed;
  z-index: 0;
}


.bg-items .ball-1 {
  left: 20px;
  top: 130px;
}


.bg-items .ball-2 {
  right: 20px;
  bottom: 20px;
}

.list-wrapper {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.card {
  display: flex;
  width: 400px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 15px;
  position: relative;
  border-radius: 10px;
}

.card .image {
  width: 150px;
}

.card .image img {
  width: 100%;
  aspect-ratio: 1/1;
}

.card .types {
  right: 5px;
  top: 5px;
  gap: 5px;
  position: absolute;
  display: flex;
}

.card .types img {
  width: 30px;
}

.card .right {
  padding: 0 10px;
  width: 100%;
}

.card .name {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 8px;
}

.card .pokemon-detail-wrapper {
  gap: 0 10px;
  display: flex;
  align-items: center;

}

.card .pokemon-detail-wrapper img {
  height: 20px;
  aspect-ratio: 1/1;
}

.card .pokemon-detail-wrapper p {
  line-height: 20px;
  font-size: 12px;
  margin: 0;
  margin-left: 4px;
}

.card .pokemon-detail {
  display: flex;
}

.card .stat {
  display: flex;
  justify-content: space-between;
}

.stats-wrapper {
  margin-top: 5px;
}

.stats-wrap {
  margin-bottom: 4px;
}

.progress-bar {
  width: 100%;
  border: 1px solid #000;
  height: 4px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar .progress {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: var(--color);
}

.load-more {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.load-btn {
  z-index: 2;
  border: none;
  background-color: #dc0a2d;
  border-radius: 4px;
  color: #fff;
  outline: none;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
  transition: 0.1s;
}

.load-btn:active {
  transform: translateY(2px);
  scale: 0.992;
}

.load-more img {
  height: 18px;
  margin-right: 4px;
}

.spin {
  animation: spin 0.5s ease-in-out infinite;
}

.loading {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading img {
  width: 300px;
}


.not-found {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.not-found img {
  width: 300px;
}

.type {
  position: relative;
}

.type .tooltip-text {
  z-index: 5;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 4;
  bottom: -100%;
  left: -84%;
  text-transform: capitalize;
  margin-left: -60px;
}

.type .tooltip-text::after {
  content: "";
  position: absolute;
  top: -10px;
  transform: rotate(180deg);
  left: 84%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.type:hover .tooltip-text {
  visibility: visible;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1200px) {
  .bg-items .ball-1 {
    left: 100px;
    top: 150px;
  }

  .bg-items .ball-2 {
    right: 100px;
    bottom: 70px;
  }
}